#post-body {
  display: flex;
  flex-direction: column;
}

.posts {
  margin: 20px;
  text-align: left;
  padding: 10px;
  border: 2px solid black;
}

@media screen and (max-width: 900px) {
  #post-body {
    flex-direction: column;
  }
}
